terraform.tfstate
terraform.tfstate.backup
.terraform/*
.terraform/plugins/linux_amd64/lock.json
.terraform/plugins/registry.terraform.io/hashicorp/aws/3.11.0/linux_amd64/terraform-provider-aws_v3.11.0_x5
.terraform/plugins/linux_amd64/terraform-provider-aws_v3.11.0_x5
chatbot.tf
.terraform/modules/modules.json
